[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
flask-migrate = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
gunicorn = "*"
boto3 = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.4"
